h3{
    font-size:40px;
    font-family:monospace;
}
canvas{
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes example{
    from {box-shawdow: 2px, 2px, 4px, blue}
    to {box-shawodw: 2px, 2px, 4px, red}; 
}